<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976658437977-kt5hfh605t683st75ofrs23iutbohbrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976658437977-kt5hfh605t683st75ofrs23iutbohbrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAOlVOEAqd5Q7lPgpEukgVPo6BXJWLB3NE</string>
	<key>GCM_SENDER_ID</key>
	<string>976658437977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizmarky.Secret-Santa</string>
	<key>PROJECT_ID</key>
	<string>secret-santa-f6d80</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-santa-f6d80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976658437977:ios:606773f45c85fade17de48</string>
	<key>DATABASE_URL</key>
	<string>https://secret-santa-f6d80.firebaseio.com</string>
</dict>
</plist>